@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;700;800&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--bgColor: theme("colors.bgColor");
	--primaryColor: theme("colors.primaryColor");
	--secondaryColor: theme("colors.secondaryColor");
	--textColor: theme("colors.textColor");
}

input:focus {
	outline: none;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px var(--secondaryColor) inset;
}

input:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0 50px var(--secondaryColor) inset;
	-webkit-text-fill-color: #333;
}

input:-webkit-autofill {
	-webkit-text-fill-color: var(--textColor) !important;
}

ul::-webkit-scrollbar-track {
	border-radius: 5px;
	background: var(--secondaryColor); /* color of the tracking area */
}

ul::-webkit-scrollbar-thumb {
	background-color: var(--bgColor); /* color of the scroll thumb */
	border-radius: 20px; /* roundness of the scroll thumb */
	border: 1px solid var(--secondaryColorr); /* creates padding around scroll thumb */
}

ul::-webkit-scrollbar {
	width: 12px;
}

.expense::-webkit-scrollbar-track {
	border-radius: 5px;

	background: var(--bgColor); /* color of the tracking area */
}

.expense::-webkit-scrollbar-thumb {
	background-color: var(--textColor); /* color of the scroll thumb */
	border-radius: 20px; /* roundness of the scroll thumb */

	border: 1px solid var(--secondaryColorr); /* creates padding around scroll thumb */
}

.expense::-webkit-scrollbar {
	height: 5px;
}

.chart {
	max-width: 200px;
	max-height: 200px;
}
